{% extends "base.html" %}
{% block title %} Изменить пароль {% endblock %}
{% block content %}
{% load i18n static %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" >  {# <form class="form" method="post" action="{% url 'signup' %}">#}
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                    {% if form.errors.items|length == 1 %}
                        {% translate "Please correct the error below." %}
                    {% else %}
                        {% translate "Please correct the errors below." %}
                    {% endif %}
                    </p>
                {% endif %}
                <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

{#                <fieldset class="module aligned wide">#}
{#                    <div class="form-row">#}
{#                        {{ form.old_password.errors }}#}
{#                        {{ form.old_password.label_tag }} {{ form.old_password }}#}
{#                    </div>#}
{#                    <div class="form-row">#}
{#                        {{ form.new_password1.errors }}#}
{#                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}#}
{#                        {% if form.new_password1.help_text %}#}
{#                            <div class="help">{{ form.new_password1.help_text|safe }}</div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="form-row">#}
{#                        {{ form.new_password2.errors }}#}
{#                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}#}
{#                        {% if form.new_password2.help_text %}#}
{#                            <div class="help">#}
{#                                {{ form.new_password2.help_text|safe }}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </fieldset>#}

{#                <div class="submit-row">#}
{#                    <input type="submit" value="{% translate 'Change my password' %}" class="default">#}
{#                </div>#}
            </div>

{#                ------------------------------------------------------------------------------------------------------------#}

            <div class="form__group">

{#                <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">#}


                <label for="id_oldPassword" class="form__label">Старый пароль</label>
                <div class="form__field-group">
{#                    <input type="text" name="old_password" id="id_oldPassword" class="form__input">#}
                    <input type="password" name="old_password" id="id_old_password" class="form__input" required="" autocomplete="current-password" autofocus="">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_newPassword" class="form__label">Новый пароль</label>
                <div class="form__field-group">

{#                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">#}

{#                    <input type="password" name="new_password" id="id_newPassword" class="form__input">#}
                    <input type="password" name="new_password1" id="id_new_password1" class="form__input" autocomplete="new-password" required="" aria-autocomplete="list">
                    {% if form.new_password1.help_text %}
                        <span class="form__input-info">{{ form.new_password1.help_text|safe }}</span>
                    {% endif %}
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_confirmPassword" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">

{#                  <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" aria-autocomplete="list">#}

{#                    <input type="password" name="confirm_password" id="id_confirmPassword" class="form__input">#}
                    <input type="password" name="new_password2" id="id_new_password2" class="form__input" autocomplete="new-password" required="" aria-autocomplete="list">
                    {% if form.new_password2.help_text %}
                        <span class="form__error">
                            {{ form.new_password2.help_text|safe }}
                        </span>
                    {% endif %}
                </div>
            </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
{#                <div class="submit-row">#}
{#                    <input type="submit" value="{% translate 'Change my password' %}" class="default">#}
{#                </div>#}
        </form>
    </div>
</main>
{% endblock %}
